@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cukskc');
  src:  url('fonts/icomoon.eot?cukskc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cukskc') format('truetype'),
    url('fonts/icomoon.woff?cukskc') format('woff'),
    url('fonts/icomoon.svg?cukskc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Drag:before {
  content: "\e900";
  color: #5e6c84;
}
.icon-alert:before {
  content: "\e901";
  color: #5e6c84;
}
.icon-analytics:before {
  content: "\e902";
  color: #5e6c84;
}
.icon-at:before {
  content: "\e903";
  color: #5e6c84;
}
.icon-bag:before {
  content: "\e904";
  color: #5e6c84;
}
.icon-bookmark:before {
  content: "\e905";
  color: #5e6c84;
}
.icon-briefcase:before {
  content: "\e906";
  color: #5e6c84;
}
.icon-calendar:before {
  content: "\e907";
  color: #5e6c84;
}
.icon-cc:before {
  content: "\e908";
  color: #5e6c84;
}
.icon-check:before {
  content: "\e909";
  color: #5e6c84;
}
.icon-clock:before {
  content: "\e90a";
  color: #5e6c84;
}
.icon-close:before {
  content: "\e90b";
  color: #5e6c84;
}
.icon-Copy:before {
  content: "\e90c";
  color: #5e6c84;
}
.icon-down---arrow:before {
  content: "\e90d";
  color: #5e6c84;
}
.icon-down:before {
  content: "\e90e";
  color: #5e6c84;
}
.icon-edit:before {
  content: "\e90f";
  color: #5e6c84;
}
.icon-email:before {
  content: "\e910";
  color: #5e6c84;
}
.icon-eye:before {
  content: "\e911";
  color: #5e6c84;
}
.icon-flag:before {
  content: "\e912";
  color: #5e6c84;
}
.icon-folder:before {
  content: "\e913";
  color: #5e6c84;
}
.icon-folders:before {
  content: "\e914";
  color: #5e6c84;
}
.icon-graduate:before {
  content: "\e915";
  color: #5e6c84;
}
.icon-grid:before {
  content: "\e916";
  color: #5e6c84;
}
.icon-home:before {
  content: "\e917";
  color: #5e6c84;
}
.icon-image:before {
  content: "\e918";
  color: #5e6c84;
}
.icon-inbox:before {
  content: "\e919";
  color: #5e6c84;
}
.icon-left---arrow:before {
  content: "\e91a";
  color: #5e6c84;
}
.icon-left:before {
  content: "\e91b";
  color: #5e6c84;
}
.icon-location:before {
  content: "\e91c";
  color: #5e6c84;
}
.icon-logout:before {
  content: "\e91d";
  color: #5e6c84;
}
.icon-map:before {
  content: "\e91e";
  color: #5e6c84;
}
.icon-micro:before {
  content: "\e91f";
  color: #5e6c84;
}
.icon-minus:before {
  content: "\e920";
  color: #5e6c84;
}
.icon-notification:before {
  content: "\e921";
  color: #5e6c84;
}
.icon-off:before {
  content: "\e922";
  color: #5e6c84;
}
.icon-paper:before {
  content: "\e923";
  color: #5e6c84;
}
.icon-paperclip:before {
  content: "\e924";
  color: #5e6c84;
}
.icon-phone:before {
  content: "\e925";
  color: #5e6c84;
}
.icon-pie-chart:before {
  content: "\e926";
  color: #5e6c84;
}
.icon-plus:before {
  content: "\e927";
  color: #5e6c84;
}
.icon-Popup:before {
  content: "\e928";
  color: #5e6c84;
}
.icon-question:before {
  content: "\e929";
  color: #5e6c84;
}
.icon-right---arrow:before {
  content: "\e92a";
  color: #5e6c84;
}
.icon-right:before {
  content: "\e92b";
  color: #5e6c84;
}
.icon-settings:before {
  content: "\e92c";
  color: #5e6c84;
}
.icon-shopping:before {
  content: "\e92d";
  color: #5e6c84;
}
.icon-star:before {
  content: "\e92e";
  color: #5e6c84;
}
.icon-tag:before {
  content: "\e92f";
  color: #5e6c84;
}
.icon-thump-up:before {
  content: "\e930";
  color: #5e6c84;
}
.icon-trash:before {
  content: "\e931";
  color: #5e6c84;
}
.icon-Up--Down-Arrow:before {
  content: "\e932";
  color: #5e6c84;
}
.icon-Up--Down:before {
  content: "\e933";
  color: #5e6c84;
}
.icon-up:before {
  content: "\e934";
  color: #5e6c84;
}
.icon-up-1:before {
  content: "\e935";
  color: #5e6c84;
}
.icon-user:before {
  content: "\e936";
  color: #5e6c84;
}
.icon-users:before {
  content: "\e937";
  color: #5e6c84;
}
.icon-wallet:before {
  content: "\e938";
  color: #5e6c84;
}
.icon-zoom:before {
  content: "\e939";
  color: #5e6c84;
}
